body {
    background-color: antiquewhite;
}

.nav_main {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

.nav_main li {
    display: inline;
    margin-right: 100px;
}

.nav_main li:last-child{
    margin-right: 0px;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

nav {
    margin-bottom: 20px;
}