{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block Title %}
            Главная
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <nav > 
        <ul class="nav_main">
            <li> <a href="{% url 'main'%}"> Main </a> </li>
            <li> <a href="{% url 'actors-main'%}"> Actors </a> </li>
            <li> <a href="{% url 'directors-main'%}"> Directors </a> </li>
            <li> <a href="{% url 'feedback-main'%}"> Feedback </a> </li>
        </ul>
    </nav>
    <section class="about_films">
        {% block content %}
        {% endblock %}
    </section>

</body>
</html>