{% extends 'base.html' %}


{% block Title %}
    Информация о фильме - {{ movie.name }}
{% endblock %}

{% block content %}
    <h2> Информация о фильме </h2>
    <div class="info-field">
        <h3> {{ movie }} </h3>
        <hr>
        <h4> Режиссер: <a href="{{ movie.director.get_url }}">  {{ movie.director }} </a> </h4>
        <hr>
        <h3> Актеры: </h3>
        <ul>
            {% for actor in movie.actor.all %} 
                <li> <a href="{{ actor.get_url }}">  {{ actor }} </a> </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}